<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>GetItems</servlet-name>
    <servlet-class>servlets.GetItems</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetItems</servlet-name>
    <url-pattern>/getItems.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PerformItemServlet</servlet-name>
    <servlet-class>servlets.PerformItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PerformItemServlet</servlet-name>
    <url-pattern>/performItemServlet.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GetAllPerformItems</servlet-name>
    <servlet-class>servlets.GetAllPerformItems</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllPerformItems</servlet-name>
    <url-pattern>/getAllPerformItems.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GetAllNotPerformItems</servlet-name>
    <servlet-class>servlets.GetAllNotPerformItems</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllNotPerformItems</servlet-name>
    <url-pattern>/getAllNotPerformItems.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AddItemServlet</servlet-name>
    <servlet-class>servlets.AddItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddItemServlet</servlet-name>
    <url-pattern>/addItemServlet.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>servlets.AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/auth.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlets.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>servlets.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/reg.do</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>filter.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>

</web-app>